doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='')
    block title
      title My Site Title
    link(href='/static/build.css', rel='stylesheet', type='text/css')

  body

    script(type='text/javascript' src='/static/build.js')